#square{
    width: 200px;
    height: 200px;
    background-color: red;
    animation-name: moveRight;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes moveRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(300px);
    }
}

#circle {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    border: 2px solid black;
    animation: bounce 4s;
    
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-200px);
    }
}

#square2 {
    width: 150px;
    height: 150px;
    background-color: green;
    animation-name: changeColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes changeColor {
    0%{
        opacity: 1;
    }
     25%{
        opacity : 0.75;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.25;
    }
    100%{
        opacity: 0;
    }
}
#square3 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    animation :spin 3s;
    /* animation : spin 3s 2s infinite reverse; */
    
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
#box2 {
    width: 200px;
    height: 200px;
    background-color: purple;
    animation: pulse 3s ;
}

@keyframes pulse {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}