body {
    background-color: aquamarine;
    background-size: cover;
    background-image: url("waterfall.avif");
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'Arial', sans-serif;
}

.page-header {
    background-image:linear-gradient(to right,blue,sky blue,cyan);
    border-radius: 16px;
    text-align: center;
    color: white;
}
.fact-Card {
    background : radial-gradient(pink, purple,white);
    border-radius: 12px;
    color:whitesmoke;
}
.fact-Card h2 {
    color: coral;
}
.footer-text {
    color: white;
} 